{% extends "base.html.twig" %}

{% block body %}
    <header class="hero">
        <nav class="navbar navbar-expand-lg navbar-white container justify-content-center">
            <a class="navbar-brand mr-auto" href="#"><img src="images/logo.png" alt=""></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Inspiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
              </ul>
            </div>
        </nav>
    </header>
    <footer>
        <div class="copyright">
            <p>
                ©Horizons - {{ "now" | date("Y") }}
            </p>
        </div>
    </footer>
{% endblock %}